<h1>Searching for - <%= @search_term %></h1>
<p>Powered By Food2Fork.com</p>

<table border = "1">
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Social Rank</th>
	</tr>
	<% @recipes.each do |rec| %>
		<tr class=<%= cycle('even', 'odd') %>>
			<td><%= image_tag(rec["image_url"], size: "100x100") %></td>
			<td><%= formatted_title(rec["title"]) %></td>
			<td><%= rec["social_rank"] %></td>
		</tr>
	<% end %>
</table>
